@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

#assign-portal-content {
    max-width: 960px;
    margin: 10em auto;
    font-family: "Libre Baskerville", serif;
}

img {
    max-width: 123px;
}

.banner-box {
    display: grid;
    background-color: green;
    border: 1px solid black;
    border-radius: 50px 90px 50px 90px;
    box-shadow: 10px 10px 10px #000000;
    padding-left: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
    grid-template-columns: 1fr 1fr 1fr;
}

main {
    padding-left: 50px;
    padding-right: 50px;
}

.selfie {
    grid-column: 1;
    border: 1px solid #cccccc;
    padding: 0px;
    box-shadow: 10px 10px 10px #000000;
}
footer {
    display: grid;
    background-color: green;
    border: 1px solid black;
    border-radius: 50px 50px 50px 50px;
    box-shadow: 10px 10px 10px #000000;
}